main {
    margin: 2rem auto;
    text-align: center;
    /* background-color: #f7c394; */
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  .li-item {
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 15px;
    background-color: #fff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
  }
  
  .li-item-content {
    margin-bottom: 15px;
  }

  .li-item-content strong {
    margin-right: 15px;
  }

  .button-container button{
    padding: 10px 20px; 
    margin-right: 10px; 
  }
  
  .heading-about-application {
    margin-bottom: 25px;
  }
  
  .about-page-container {
    margin-left: 100px; 
    padding: 20px; 
  }
  
  .add-product-container {
    max-width: 400px;
    margin-left: 450px;
    margin-top: 30px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .add-product-title {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .add-product-form {
    display: flex;
    flex-direction: column;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
  }
  
  .btn-primary {
    background-color: #f57b42;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
  }

  .heading-statistics {
    margin-bottom: 70px;
  }

  .heading-statistic-item {
    margin-bottom: 50px;
  }

  .bar-chart-container {
    margin-left: 350px;
    margin-bottom: 70px;
  }

  .pie-chart-container {
    margin-bottom: auto;
    margin-left: 200px;
  }